
body { width: 480px; margin: 0 auto; }

.container{
  display: grid;
  width: 480px;
  height: 1060px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15fr 30fr 25fr 25fr 50fr 50fr 16fr;
  grid-template-areas:
    "nav"
    "aside"
    "top-left" 
    "top-right"
    "col-1 col-2"
    "col-3 col-4"
    "footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  background-color: #1de9b6;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: nav;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;

}

  aside {
  background-color: #84ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: aside;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;

}

#top-left {
  background-color: #73ffba;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: top-left;
  
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

#top-right {
  background-color: #73ffba;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: top-right;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;
}

#col-1 {
  /* background-color: #73ffba; */
  background-color: #18ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: col-1;

  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 5;
  grid-row-end: 6;
}

#col-2 {
  background-color: #64ffda;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: col-2;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 5;
  grid-row-end: 6;
}

#col-3 {
  background-color: #73ffba;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: col-3;

  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 6;
  grid-row-end: 7;
}

#col-4 {
  background-color: #64ffda;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: col-4;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 6;
  grid-row-end: 7;
}

footer {
  background-color: #84ffff;
  /* background-color: #1de9b6; */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-left;
  grid-area: footer;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 7;
  grid-row-end: 8;
}

@media(min-width:688px){

  .container {
    display: grid;
    height: 100vh;
    width: 960px;
    height: 700px;
    justify-content: center;
    grid-template-columns: 2fr 1.9fr 1.9fr 1.9fr 1.9fr;
    grid-template-rows: 1fr 2fr 2.5fr 1.5fr;
    grid-template-areas:
      "nav nav nav nav nav"
      "aside top-left top-right"
      "aside col-1 col-2 col-3 col-4"
      "aside footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  
  nav {
    background-color: #a7ffeb;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: nav;
  
    grid-column-start: 1;
    grid-column-end: 6;
  
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  
  aside {
    background-color: #84ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: aside;
  
    grid-column-start: 1;
    grid-column-end: 2;
  
    grid-row-start: 2;
    grid-row-end: 5;
  
  }
  
  #top-left {
    background-color: #18ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    
    grid-column-start: 2;
    grid-column-end: 4;
  
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  #top-right {
    background-color: #18ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: top-right;
  
    grid-column-start: 4;
    grid-column-end: 6;
  
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  #col-1 {
    background-color: #73ffba;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: col-1;
  
    grid-column-start: 2;
    grid-column-end: 3;
  
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  #col-2 {
    background-color: #64ffda;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: col-2;
  
    grid-column-start: 3;
    grid-column-end: 4;
  
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  #col-3 {
    background-color: #73ffba;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: col-3;
  
    grid-column-start: 4;
    grid-column-end: 5;
  
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  #col-4 {
    background-color: #64ffda;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: col-4;
  
    grid-column-start: 5;
    grid-column-end: 6;
  
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  footer {
    background-color: #1de9b6;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top-left;
    grid-area: footer;
  
    grid-column-start: 2;
    grid-column-end: 6;
  
    grid-row-start: 4;
    grid-row-end: 5;
  }

}